In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('container1.csv')

In [4]:
df.info

<bound method DataFrame.info of       Unnamed: 0  항명   호출부호                  선명  입항횟수  입항횟수.1  구분  외내  입출  \
0              0  부산   D8RV  PANSTAR GENIE NO.2  2022      77  최종  외항  출항
1              1  부산   D8FB       PANSTAR GENIE  2022      71  최종  외항  입항
2              2  부산   D8FB       PANSTAR GENIE  2022      71  최종  외항  출항
3              3  인천   BATD            MING YUE  2022      51  최종  외항  입항
4              4  인천   BATD            MING YUE  2022      51  최종  외항  출항
...          ...  ..    ...                 ...   ...     ...  ..  ..  ..
1164        1164  인천   BSDG             BEI HAI  2023      20  최종  외항  입항
1165        1165  부산   D8FB       PANSTAR GENIE  2023      38  최종  외항  입항
1166        1166  부산  DSQX2       SANSTAR DREAM  2023      39  최종  외항  입항
1167        1167  부산  DSQX2       SANSTAR DREAM  2023      39  최종  외항  출항
1168        1168  부산   D8RV  PANSTAR GENIE NO.2  2023      39  최종  외항  입항

        총톤수  ...           차항지           전출항지         선박용도  \
0     7,323  ...     SHIDAO PT  NAGOYA, AICHI  세미(혼재)컨테이너선
1     7,323  ...         OSAKA          OSAKA  세미(혼재)컨테이너선
2     7,323  ...         OSAKA          OSAKA  세미(혼재)컨테이너선
3     2,453  ...       DANDONG        DANDONG  세미(혼재)컨테이너선
4     2,453  ...       DANDONG        DANDONG  세미(혼재)컨테이너선
...     ...  ...           ...            ...          ...
1164  5,272  ...  ZHANGJIAGANG        TAICANG  세미(혼재)컨테이너선
1165  7,323  ...     SHIDAO PT          TOKYO  세미(혼재)컨테이너선
1166  5,319  ...       TSURUGA             마산  세미(혼재)컨테이너선
1167  5,319  ...       TSURUGA             마산  세미(혼재)컨테이너선
1168  7,323  ...         평택.당진  NAGOYA, AICHI  세미(혼재)컨테이너선

     외항:한국인선원수\n내항:해기사선원수 외항:외국인선원수\n내항:보통선원수  승객 예선 도선 부선호출부호1 부선호출부호2
0                     8.0                   9 NaN  N  N     NaN     NaN
1                     8.0                   9 NaN  N  N     NaN     NaN
2                     8.0                   9 NaN  N  N     NaN     NaN
3                     NaN                  15 NaN  Y  Y     NaN     NaN
4                     NaN                  15 NaN  Y  Y     NaN     NaN
...                   ...                 ...  .. .. ..     ...     ...
1164                  NaN                  18 NaN  Y  Y     NaN     NaN
1165                  8.0                   9 NaN  Y  Y     NaN     NaN
1166                  8.0                   9 NaN  N  N     NaN     NaN
1167                  8.0                   9 NaN  N  N     NaN     NaN
1168                  8.0                   9 NaN  Y  Y     NaN     NaN

[1169 rows x 29 columns]>

In [5]:
df1 = df['호출부호']
df1

0        D8RV
1        D8FB
2        D8FB
3        BATD
4        BATD
        ...
1164     BSDG
1165     D8FB
1166    DSQX2
1167    DSQX2
1168     D8RV
Name: 호출부호, Length: 1169, dtype: object

In [6]:
df2 = df1.drop_duplicates()
df2

0          D8RV
1          D8FB
3          BATD
5         VROO8
9         DSQX2
13         BATI
15        3FMT9
25        VRUH4
27        5VHA7
29         BSDG
31        VREU7
33        V7IM5
35         7JYD
37        3FQO9
49         CQJG
51         BSDU
55        V7TM9
77        V7TR3
83       9V9718
89       3E3741
93       9V9714
95        VRPP8
123       C6SI6
137      9V9715
139        7KAA
149       V7QV6
157        HORQ
185       VROO7
197       UBVP6
205       VROJ8
215      9V9832
217        7KAC
245     9LD2046
265      3E2143
301       BTBM3
373       3FFR3
388       5BUJ4
424      3E3743
446       5VHX6
470     V7A5912
514      3E2808
610        UHDH
634      9V9713
808        3EJS
828     PORTMIS
849      9V9710
877      3E2217
1065      3FAZ8
1073     9V9711
Name: 호출부호, dtype: object

In [7]:
vsl = pd.read_csv('ais_for_waiting_area_vsl_info.csv')

In [8]:
vsl.info

<bound method DataFrame.info of                                     VSL_ID         VSL_NAME   VSL_MMSI  \
0     00260274-dbeb-3672-a688-34cfeb851acc    KOTA PAHLAWAN  563033800
1     003756d7-a298-391e-ba9b-d336079996a8     XIN WEN ZHOU  414736000
2     00a3b1cf-589e-39b4-8c26-fc7975e53188      MILD SONATA  477390900
3     00b5ffd0-eec0-3fd1-b0c4-0a4f55ccf412  PACIFIC BEIJING  563156900
4     0146695a-b3e9-3bf1-8cf7-48781657c287        HMM HANUL  636020744
...                                    ...              ...        ...
1330  ff2ea971-7ff0-3c38-bef7-b0799da24ad6      KOTA SANTOS  636019875
1331  ff63da73-f410-347f-98f2-bea23eacce9b     HONG TAI 226  413708120
1332  ffa1afcd-c0a7-3984-bed4-8a76885eb113          INVICTA  538008635
1333  ffe6cded-5a3d-3f48-ade0-4dcdb33f1a8b        TB TOB 03  525015658
1334  fff7cbe3-92da-3e01-89ea-e25f70b8afa8  NIMTOFTE MAERSK  219027758

        VSL_IMO CALL_SIGN      SHIP_TYPE  VSL_LENGTH  VSL_WIDTH  DIMENSIONS_A  \
0     9786712.0    9V5293      CONTAINER       330.0       48.0         107.0
1     9523043.0      BPKJ      CONTAINER       255.0       37.0         199.0
2     9666857.0     VRNF6      CONTAINER       148.0       23.0         130.0
3     9378931.0    9V8000      CONTAINER       148.0       24.0         137.0
4     9869239.0     5LAM7      CONTAINER       366.0       51.0         112.0
...         ...       ...            ...         ...        ...           ...
1330  9293765.0     D5WO7      CONTAINER       334.0       42.0         270.0
1331        0.0      BRAY  GENERAL_CARGO       166.0       25.0         149.0
1332  9822724.0   V7A2600      CONTAINER       172.0       28.0         155.0
1333  8738811.0   YDA6228            TUG       220.0       70.0         120.0
1334  9885166.0     OYLF2      CONTAINER       172.0       32.0         150.0

      DIMENSIONS_B  DIMENSIONS_C  DIMENSIONS_D  GROSS_TONNAGE
0            223.0          30.0          18.0       113976.0
1             56.0          13.0          24.0        47917.0
2             18.0           8.0          15.0         9994.0
3             11.0          10.0          14.0         9940.0
4            254.0          18.0          33.0       153150.0
...            ...           ...           ...            ...
1330          64.0          21.0          21.0        90449.0
1331          17.0          17.0           8.0            NaN
1332          17.0          22.0           6.0        19035.0
1333         100.0          40.0          30.0            NaN
1334          22.0          19.0          13.0        26255.0

[1335 rows x 13 columns]>

In [9]:
matching_rows = vsl[vsl['CALL_SIGN'].isin(df2)]

# 일치하는 데이터프레임 출력
print(matching_rows)

                                   VSL_ID       VSL_NAME   VSL_MMSI  \
217  25bf3a35-35c1-3031-9172-c5664cb141f0  XIN XIN HAI 2  412203360
656  73b8062b-7915-348c-92af-a735934022f8       MING YUE  412202870
864  9a6e32af-194b-360c-b426-5bc7d339d46a  PANSTAR GENIE  440642000
866  9ac6da3f-4cac-3c7b-bed5-d826e9999756        BEI HAI  414690000

       VSL_IMO CALL_SIGN          SHIP_TYPE  VSL_LENGTH  VSL_WIDTH  \
217  9623594.0     BTBM3      GENERAL_CARGO       166.0       28.0
656  8882911.0      BATD      GENERAL_CARGO        81.0       16.0
864  9248227.0      D8FB  VEHICLE_PASSENGER       161.0       24.0
866  9397597.0      BSDG      GENERAL_CARGO       117.0       20.0

     DIMENSIONS_A  DIMENSIONS_B  DIMENSIONS_C  DIMENSIONS_D  GROSS_TONNAGE
217         144.0          22.0           8.0          20.0        21270.0
656          58.0          23.0           8.0           8.0         2453.0
864          76.0          85.0          16.0           8.0         7323.0
866          98.0          19.0          10.0          10.0         5272.0

In [10]:
vsl.info

<bound method DataFrame.info of                                     VSL_ID         VSL_NAME   VSL_MMSI  \
0     00260274-dbeb-3672-a688-34cfeb851acc    KOTA PAHLAWAN  563033800
1     003756d7-a298-391e-ba9b-d336079996a8     XIN WEN ZHOU  414736000
2     00a3b1cf-589e-39b4-8c26-fc7975e53188      MILD SONATA  477390900
3     00b5ffd0-eec0-3fd1-b0c4-0a4f55ccf412  PACIFIC BEIJING  563156900
4     0146695a-b3e9-3bf1-8cf7-48781657c287        HMM HANUL  636020744
...                                    ...              ...        ...
1330  ff2ea971-7ff0-3c38-bef7-b0799da24ad6      KOTA SANTOS  636019875
1331  ff63da73-f410-347f-98f2-bea23eacce9b     HONG TAI 226  413708120
1332  ffa1afcd-c0a7-3984-bed4-8a76885eb113          INVICTA  538008635
1333  ffe6cded-5a3d-3f48-ade0-4dcdb33f1a8b        TB TOB 03  525015658
1334  fff7cbe3-92da-3e01-89ea-e25f70b8afa8  NIMTOFTE MAERSK  219027758

        VSL_IMO CALL_SIGN      SHIP_TYPE  VSL_LENGTH  VSL_WIDTH  DIMENSIONS_A  \
0     9786712.0    9V5293      CONTAINER       330.0       48.0         107.0
1     9523043.0      BPKJ      CONTAINER       255.0       37.0         199.0
2     9666857.0     VRNF6      CONTAINER       148.0       23.0         130.0
3     9378931.0    9V8000      CONTAINER       148.0       24.0         137.0
4     9869239.0     5LAM7      CONTAINER       366.0       51.0         112.0
...         ...       ...            ...         ...        ...           ...
1330  9293765.0     D5WO7      CONTAINER       334.0       42.0         270.0
1331        0.0      BRAY  GENERAL_CARGO       166.0       25.0         149.0
1332  9822724.0   V7A2600      CONTAINER       172.0       28.0         155.0
1333  8738811.0   YDA6228            TUG       220.0       70.0         120.0
1334  9885166.0     OYLF2      CONTAINER       172.0       32.0         150.0

      DIMENSIONS_B  DIMENSIONS_C  DIMENSIONS_D  GROSS_TONNAGE
0            223.0          30.0          18.0       113976.0
1             56.0          13.0          24.0        47917.0
2             18.0           8.0          15.0         9994.0
3             11.0          10.0          14.0         9940.0
4            254.0          18.0          33.0       153150.0
...            ...           ...           ...            ...
1330          64.0          21.0          21.0        90449.0
1331          17.0          17.0           8.0            NaN
1332          17.0          22.0           6.0        19035.0
1333         100.0          40.0          30.0            NaN
1334          22.0          19.0          13.0        26255.0

[1335 rows x 13 columns]>

In [11]:
matching_rows.to_csv('match_vsl1.csv', index=False)