In [1]:
import numpy as np
import pandas as pd

In [2]:
excel = pd.read_excel('container2.xlsx')
excel.to_csv('container2.csv')

In [3]:
df = pd.read_csv('container2.csv')

In [4]:
df.head()

,Unnamed: 0,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,...,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,0,부산,H9ZG,TI2 APPLE,2022,16,최종,외항,출항,"7,401",...,광양,MOJI/KITAKYUSHU,풀컨테이너선,NaN,18,NaN,Y,Y,NaN,NaN
1,1,부산,5BZP3,HYUNDAI SINGAPORE,2022,6,최종,외항,출항,"74,651",...,광양,광양,풀컨테이너선,NaN,19,1.0,Y,Y,NaN,NaN
2,2,부산,VRKR6,COSCO FOS,2022,17,최종,외항,출항,"40,447",...,TIANJIN XINGANG PT,TIANJIN XINGANG PT,풀컨테이너선,NaN,25,NaN,Y,Y,NaN,NaN
3,3,부산,9HA5006,CMA CGM CALLISTO,2022,2,최종,외항,출항,"131,332",...,CANAL,SHANGHAI,풀컨테이너선,NaN,28,NaN,Y,Y,NaN,NaN
4,4,부산,9V7999,PACIFIC MONACO,2022,26,최종,외항,출항,"7,532",...,TSURUGA,KANAZAWA,풀컨테이너선,NaN,17,NaN,Y,Y,NaN,NaN

In [5]:
df1 = df['호출부호']
df_unique = df1.drop_duplicates()
print(df_unique)

0           H9ZG
1          5BZP3
2          VRKR6
3        9HA5006
4         9V7999
          ...
23592      5LLA7
23594      VRSB2
23670      A8PT6
23690      S6CH6
23702      VRUY4
Name: 호출부호, Length: 1775, dtype: object

In [6]:
vsl = pd.read_csv('ais_for_waiting_area_vsl_info.csv')

matching_rows = vsl[vsl['CALL_SIGN'].isin(df_unique)]

# 일치하는 데이터프레임 출력
print(matching_rows)

                                    VSL_ID         VSL_NAME   VSL_MMSI  \
3     00b5ffd0-eec0-3fd1-b0c4-0a4f55ccf412  PACIFIC BEIJING  563156900
4     0146695a-b3e9-3bf1-8cf7-48781657c287        HMM HANUL  636020744
5     018666c5-2b0d-323b-8c36-b27fac5f7c65           ULTIMA  311000169
7     01a950b5-6f5f-3ef3-9655-835f4b9864b0       KMTC DELHI  441401000
8     01bb3ded-6e6b-3e7e-8705-5f9dbda9c098       ALS KRONOS  636017175
...                                    ...              ...        ...
1324  fdff0133-85a8-33fc-81fd-bbf706f5f37d     ZIM SHENZHEN  477714600
1325  fe499774-197c-30e0-8f5d-25981c36ee07            TYGRA  636017404
1326  fea6d89b-3a15-3131-a582-81316e56e346   CMA CGM SAMSON  256687000
1328  fedbdc5b-d5a4-37bf-8df4-5dd0c3ec6e5f   HYUNDAI SATURN  232024771
1332  ffa1afcd-c0a7-3984-bed4-8a76885eb113          INVICTA  538008635

        VSL_IMO CALL_SIGN  SHIP_TYPE  VSL_LENGTH  VSL_WIDTH  DIMENSIONS_A  \
3     9378931.0    9V8000  CONTAINER       148.0       24.0         137.0
4     9869239.0     5LAM7  CONTAINER       366.0       51.0         112.0
5     9674646.0     C6AV9  CONTAINER       141.0       23.0         118.0
7     9409182.0      D7WN  CONTAINER       299.0       40.0         225.0
8     9327786.0     D5JQ6  CONTAINER       276.0       40.0         186.0
...         ...       ...        ...         ...        ...           ...
1324  9461491.0     VRUC4  CONTAINER       335.0       42.0         244.0
1325  9164263.0     D5KT7  CONTAINER       155.0       25.0         137.0
1326  9436379.0   9HA2907  CONTAINER       335.0       42.0         244.0
1328  9725146.0     MGGA2  CONTAINER       324.0       48.0         116.0
1332  9822724.0   V7A2600  CONTAINER       172.0       28.0         155.0

      DIMENSIONS_B  DIMENSIONS_C  DIMENSIONS_D  GROSS_TONNAGE
3             11.0          10.0          14.0         9940.0
4            254.0          18.0          33.0       153150.0
5             23.0          14.0           9.0         9568.0
7             74.0          20.0          20.0        73779.0
8             90.0          23.0          17.0        66199.0
...            ...           ...           ...            ...
1324          91.0          24.0          18.0        91761.0
1325          18.0          13.0          12.0        14120.0
1326          91.0          17.0          25.0        91498.0
1328         208.0          20.0          28.0       110632.0
1332          17.0          22.0           6.0        19035.0

[779 rows x 13 columns]

In [7]:
matching_rows.to_csv('match_vsl2.csv', index=False)